.cardList{
    margin-top: 20px;
    background-color: #1169b6;
    color: white;
    border-radius: 12px;
    padding: 10px;
    width: 35%;
    height: 350px;
}
.cardTitle{
    text-align: center;
}
.cardLogo{
    width: 30%;
    margin-left: 65%;
}
.ValidThru{
    text-align: center;
}